   
body{
	background: #352f5b;
}
.container{
	max-width: 400px;
}
input[type=text],
input[type=text]:focus{
	color: #fff;
	border: none;
	background: rgba(0,0,0,0.2);
	max-width: 400px;
}
.todos li{
	background: #423a6f;
}
.delete{
	cursor: pointer;
}
.far{
	margin-left: 150px;
	margin-bottom: 2px;
}
#net{
	margin-top: 20px;
}
#run{
	color: white;
	padding-left: 120px;
	padding-bottom: 8px;
}
 
 .filtered{
 	display: none !important; 
 }


